{% load static %}
{% extends 'main/base.html' %}


{% block title %}
Распорядок
{% endblock %}

{% block header%}Распорядок{%endblock%}


{% block content %}
<h2>Для чего нужны лаблабалабаа</h2>
<p>труктура правил внутреннего трудового распорядка
    Структура ПВТР вытекает из того, что именно определяется этим документом. Таким образом, правила внутреннего
    трудового распорядка могут иметь следующую структуру:

    Порядок приема работников. В этом разделе укажите: какие документы должен представить работник при приеме на работу;
    информацию об испытательном сроке; требования к заключению трудового договора и т.д. Также в этот раздел можно
    включить, например, информацию о необходимости заполнения анкеты при приеме на работу, о порядке выдачи пропуска
    новому сотруднику и пр.
    Порядок увольнения работников. Помимо всего прочего, в этом разделе рекомендуем прописать порядок передачи дел при
    увольнении, правила оформления обходного листа и другие увольнительные нюансы.
    Основные права и обязанности работодателя. Перечислите основные права и обязанности работодателя, содержащиеся в
    статье 22 ТК РФ, а также укажите дополнительные права/обязанности, если они у вас предусмотрены.
    Основные права и обязанности работников. Укажите основные права и обязанности работников в соответствии со статьей
    21 ТК РФ. Также в этом разделе можно отразить как дополнительные гарантии, предоставляемые работникам (ДМС и пр.),
    так и дополнительные обязанности (к примеру, соблюдение дресс-кода).
    Ответственность сторон трудового договора. Ответственность работников и работодателя полностью урегулирована
    трудовым законодательством. Поэтому в этом разделе лучше дать общую формулировку со ссылкой на ТК РФ, например,
    «Стороны трудового договора несут ответственность, в том числе материальную, в случаях и порядке, предусмотренных
    действующим законодательством».
    Режим работы. Подробно пропишите установленный в вашей организации режим работы (продолжительность рабочей недели,
    продолжительность рабочего дня, время начала и окончания рабочего дня и т.д.).
    Время отдыха. Подробно опишите предоставляемые работникам виды отдыха (ст. 107 ТК РФ): перерывы в течение рабочего
    дня/смены, ежедневный/междусменный отдых, выходные дни, нерабочие праздничные дни, отпуска.
    Оплата труда. Здесь укажите установленные у вас даты выплаты зарплаты с учетом требований ст. 136 ТК РФ. Если
    зарплатные дни прописать в ПВТР, а не в трудовых договорах, то в случае изменения дат выплаты, вам нужно будет
    внести изменения лишь в сами правила, а не заключать дополнительное соглашение к трудовому договору с каждым из
    работников.
    Меры поощрения работников. В этом разделе можно указать основные виды поощрения, предусмотренные ст. 191 ТК РФ, а
    также другие меры поощрения, если они предусмотрены у вас.
    Взыскания к работникам. В данном разделе ПВТР стоит отразить дисциплинарные взыскания, которые можно применить к
    работнику в соответствии со ст. 192 ТК РФ (замечание, выговор, увольнение), а также основания для их применения.
    Иные вопросы регулирования трудовых отношений. Здесь можно отразить иную информацию, не вошедшую в другие разделы.
    Мы привели базовые структуру и содержание правил внутреннего трудового распорядка. Вы же при составлении ПВТР
    ориентируйтесь на специфику деятельности вашей компании.</p>
{% endblock %}